#heading {
    background-image:url(../images/apple-pie.jpg);
    background-position: 0, 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90vw;
    height: 335px;
    color: white;
    text-align: center;
    font-family:Roboto Condensed;
    padding: 142.5px 0;
    box-sizing: border-box;
    font-size: 50px !important;
    margin: 0 50px;
}

.textStyle {
    margin: 0 150px;
    color: gray;
}

.tableStyle{
    margin:0 400px;
    color: gray;
}

h4{
    color: black;
}

.imageStyle{
    width: 200px;
    margin:0 400px;
}